.register {
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.register__wrapper {
  padding: 80px 62px ;
  background-color: white;
  box-shadow: 0 0 50px #8080809e;
}

.register .register__title {
  margin-bottom: 45px;
}
