.register {
  height: 100vh;
  flex-direction: column;
}

.register__wrapper {
  padding: 60px 52px;
  background-color: white;
  box-shadow: 0 0 50px #8080809e;
}

.register .register__title {
  margin-bottom: 45px;
}
